{#
/**
* @file
* Default theme implementation to display a block.
*
* @see template_preprocess_block()
*
* @ingroup themeable
*/
#}
{% set classes = [
    'clear-both',
] %}
<div{{ attributes.addClass(classes) }}>
    <h2 style="color:red;">Hello world</h2>
    <div class="wcw-dropdown" id="dropdown-{{-dropdown_id-}}" data-ui="dropdown">
    <button class="wcw-btn wcw-dropdown-trigger" aria-expanded="false" aria-haspopup="true" type="button">
      <span class="wcw-dropdown-trigger-label">Select Your State</span>
      <svg class="wcw-icon wcw-icon--medium" role="presentation" focusable="false">
        <use xlink:href="#icon-chevron-down" width="100%" height="100%"></use>
      </svg>
    </button>
    <div class="wcw-dropdown-menu">
      <ul class="wcw-dropdown-menu-list" role="menu">
        {% for item in data.items %}
            <li class="wcw-dropdown-menu-list-item" role="menuitem">
                <a href="{{ item.url }}" class="wcw-link">{{ item.title }}</a>
            </li>
        {% endfor %}
      </ul>
    </div>
  </div>
</div>
