* {
    box-sizing: border-box;
}
body {
    background-color: #fff;
    color: #353535;
    font-weight: 400;
    font-size: 1rem;
    font-family: "Inter";
    line-height: 1.25;
}
p, h1, h2, h3, h4, h5, h6 {
    margin: 0 0 .5rem 0;
}
p:last-child, h1:last-child, h2:last-child, h3:last-child, h4:last-child, h5:last-child, h6:last-child {
    margin-bottom: 0;
}
img {
    display: block;
    max-width: 100%}
svg {
    max-width: 100%}
.wcw-accessibly-hidden, .wcw-form-input-radio, .wcw-form-input-checkbox, .wcw-type-accessible {
    position: absolute;
    overflow: hidden;
    clip: rect(1px,  1px,  1px,  1px);
    width: 1px;
    height: 1px;
    white-space: nowrap;
}
.wcw-type-display--large {
    color: #353535;
    font-weight: 700;
    font-size: 1rem;
    font-family: "Inter";
    line-height: 1.25;
    font-size: 2.5rem;
}
.wcw-type-display--medium {
    color: #353535;
    font-weight: 700;
    font-size: 1rem;
    font-family: "Inter";
    line-height: 1.25;
    font-size: 2rem;
}
.wcw-type-display--small {
    color: #353535;
    font-weight: 700;
    font-size: 1rem;
    font-family: "Inter";
    line-height: 1.25;
    font-size: 1.5rem;
}
.wcw-type-headline--60 {
    color: #353535;
    font-weight: 400;
    font-size: 1rem;
    font-family: "Inter";
    line-height: 1.25;
    font-size: 3.75rem;
    font-family: "Fraunces";
    line-height: 64px;
    letter-spacing: .0025em;
}
.wcw-type-headline--48 {
    color: #353535;
    font-weight: 400;
    font-size: 1rem;
    font-family: "Inter";
    line-height: 1.25;
    font-size: 3rem;
    font-family: "Fraunces";
    line-height: 54px;
    letter-spacing: .0025em;
}
.wcw-type-headline--36 {
    color: #353535;
    font-weight: 400;
    font-size: 1rem;
    font-family: "Inter";
    line-height: 1.25;
    font-size: 2.25rem;
    font-family: "Fraunces";
    line-height: 42px;
    letter-spacing: .0025em;
}
.wcw-type-headline--30 {
    color: #353535;
    font-weight: 400;
    font-size: 1rem;
    font-family: "Inter";
    line-height: 1.25;
    font-size: 1.875rem;
    font-family: "Fraunces";
    line-height: 36px;
    letter-spacing: .0025em;
}
.wcw-type-headline--24 {
    color: #353535;
    font-weight: 400;
    font-size: 1rem;
    font-family: "Inter";
    line-height: 1.25;
    font-size: 1.5rem;
    font-family: "Fraunces";
    line-height: 28px;
    letter-spacing: .0025em;
}
.wcw-type-headline--20 {
    color: #353535;
    font-weight: 400;
    font-size: 1rem;
    font-family: "Inter";
    line-height: 1.25;
    font-size: 1.25rem;
    font-family: "Fraunces";
    line-height: 22px;
    letter-spacing: .0025em;
}
.wcw-type-utility--14 {
    color: #353535;
    font-weight: 500;
    font-size: 1rem;
    font-family: "Inter";
    line-height: 1.25;
    font-size: .875rem;
    line-height: 17px;
    letter-spacing: .1em;
    text-transform: uppercase;
}
.wcw-type-utility--12 {
    color: #353535;
    font-weight: 500;
    font-size: 1rem;
    font-family: "Inter";
    line-height: 1.25;
    font-size: .75rem;
    line-height: 15px;
    letter-spacing: .08em;
    text-transform: uppercase;
}
.wcw-type-utility--10 {
    color: #353535;
    font-weight: 500;
    font-size: 1rem;
    font-family: "Inter";
    line-height: 1.25;
    font-size: .625rem;
    line-height: 12px;
    letter-spacing: 1.5px;
    text-transform: uppercase;
}
.wcw-type-utility--8 {
    color: #353535;
    font-weight: 500;
    font-size: 1rem;
    font-family: "Inter";
    line-height: 1.25;
    font-size: .5rem;
    line-height: 10px;
    letter-spacing: 1px;
    text-transform: uppercase;
}
.wcw-type-utility--bold-14 {
    color: #353535;
    font-weight: 500;
    font-size: 1rem;
    font-family: "Inter";
    line-height: 1.25;
    font-size: .875rem;
    line-height: 17px;
    letter-spacing: .1em;
    text-transform: uppercase;
    font-weight: 700;
}
.wcw-type-utility--bold-12 {
    color: #353535;
    font-weight: 500;
    font-size: 1rem;
    font-family: "Inter";
    line-height: 1.25;
    font-size: .75rem;
    line-height: 15px;
    letter-spacing: .08em;
    text-transform: uppercase;
    font-weight: 700;
}
.wcw-type-utility--bold-10 {
    color: #353535;
    font-weight: 500;
    font-size: 1rem;
    font-family: "Inter";
    line-height: 1.25;
    font-size: .625rem;
    line-height: 12px;
    letter-spacing: 1.5px;
    text-transform: uppercase;
    font-weight: 700;
}
.wcw-type-utility--bold-8 {
    color: #353535;
    font-weight: 500;
    font-size: 1rem;
    font-family: "Inter";
    line-height: 1.25;
    font-size: .5rem;
    line-height: 10px;
    letter-spacing: 1px;
    text-transform: uppercase;
    font-weight: 700;
}
.wcw-type-body--24 {
    color: #353535;
    font-weight: 400;
    font-size: 1rem;
    font-family: "Inter";
    line-height: 1.25;
    font-size: 1.5rem;
    line-height: 28px;
    letter-spacing: .0025em;
}
.wcw-type-body--20 {
    color: #353535;
    font-weight: 400;
    font-size: 1rem;
    font-family: "Inter";
    line-height: 1.25;
    font-size: 1.25rem;
    line-height: 28px;
    letter-spacing: .0025em;
}
.wcw-type-body--18 {
    color: #353535;
    font-weight: 400;
    font-size: 1rem;
    font-family: "Inter";
    line-height: 1.25;
    font-size: 1.125rem;
    line-height: 26px;
    letter-spacing: .0025em;
}
.wcw-type-body--16 {
    color: #353535;
    font-weight: 400;
    font-size: 1rem;
    font-family: "Inter";
    line-height: 1.25;
    font-size: 1rem;
    line-height: 22px;
    letter-spacing: .01em;
}
.wcw-type-body--14 {
    color: #353535;
    font-weight: 400;
    font-size: 1rem;
    font-family: "Inter";
    line-height: 1.25;
    font-size: .875rem;
    line-height: 20px;
    letter-spacing: .01em;
}
.wcw-type-body--12 {
    color: #353535;
    font-weight: 400;
    font-size: 1rem;
    font-family: "Inter";
    line-height: 1.25;
    font-size: .75rem;
    line-height: 17px;
    letter-spacing: .01em;
}
.wcw-type-body--10 {
    color: #353535;
    font-weight: 400;
    font-size: 1rem;
    font-family: "Inter";
    line-height: 1.25;
    font-size: .625rem;
    line-height: 15px;
    letter-spacing: .01em;
}
.wcw-type-body--bold-24 {
    color: #353535;
    font-weight: 400;
    font-size: 1rem;
    font-family: "Inter";
    line-height: 1.25;
    font-size: 1.5rem;
    line-height: 28px;
    letter-spacing: .0025em;
    font-weight: 700;
}
.wcw-type-body--bold-20 {
    color: #353535;
    font-weight: 400;
    font-size: 1rem;
    font-family: "Inter";
    line-height: 1.25;
    font-size: 1.25rem;
    line-height: 28px;
    letter-spacing: .0025em;
    font-weight: 700;
}
.wcw-type-body--bold-18 {
    color: #353535;
    font-weight: 400;
    font-size: 1rem;
    font-family: "Inter";
    line-height: 1.25;
    font-size: 1.125rem;
    line-height: 26px;
    letter-spacing: .0025em;
    font-weight: 700;
}
.wcw-type-body--bold-16 {
    color: #353535;
    font-weight: 400;
    font-size: 1rem;
    font-family: "Inter";
    line-height: 1.25;
    font-size: 1rem;
    line-height: 22px;
    letter-spacing: .01em;
    font-weight: 700;
}
.wcw-type-body--bold-14 {
    color: #353535;
    font-weight: 400;
    font-size: 1rem;
    font-family: "Inter";
    line-height: 1.25;
    font-size: .875rem;
    line-height: 20px;
    letter-spacing: .01em;
    font-weight: 700;
}
.wcw-type-body--bold-12 {
    color: #353535;
    font-weight: 400;
    font-size: 1rem;
    font-family: "Inter";
    line-height: 1.25;
    font-size: .75rem;
    line-height: 17px;
    letter-spacing: .01em;
    font-weight: 700;
}
.wcw-type-body--bold-10 {
    color: #353535;
    font-weight: 400;
    font-size: 1rem;
    font-family: "Inter";
    line-height: 1.25;
    font-size: .625rem;
    line-height: 15px;
    letter-spacing: .01em;
    font-weight: 700;
}
.wcw-type-style--bold {
    font-weight: 700;
}
.wcw-type-style--italic {
    font-style: italic;
}
.grid-layout-1-column {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr;
    grid-template-columns: repeat(1,  1fr);
    grid-gap: 24px;
    width: 100%}
.grid-layout-2-column {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 24px 1fr;
    grid-template-columns: repeat(2,  1fr);
    grid-gap: 24px;
    width: 100%}
.grid-layout-3-column {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 24px 1fr 24px 1fr;
    grid-template-columns: repeat(3,  1fr);
    grid-gap: 24px;
    width: 100%}
.grid-layout-4-column {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 24px 1fr 24px 1fr 24px 1fr;
    grid-template-columns: repeat(4,  1fr);
    grid-gap: 24px;
    width: 100%}
.grid-layout-5-column {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 24px 1fr 24px 1fr 24px 1fr 24px 1fr;
    grid-template-columns: repeat(5,  1fr);
    grid-gap: 24px;
    width: 100%}
.grid-layout-6-column {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 24px 1fr 24px 1fr 24px 1fr 24px 1fr 24px 1fr;
    grid-template-columns: repeat(6,  1fr);
    grid-gap: 24px;
    width: 100%}
.grid-layout-7-column {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 24px 1fr 24px 1fr 24px 1fr 24px 1fr 24px 1fr 24px 1fr;
    grid-template-columns: repeat(7,  1fr);
    grid-gap: 24px;
    width: 100%}
.grid-layout-8-column {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 24px 1fr 24px 1fr 24px 1fr 24px 1fr 24px 1fr 24px 1fr 24px 1fr;
    grid-template-columns: repeat(8,  1fr);
    grid-gap: 24px;
    width: 100%}
.grid-layout-9-column {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 24px 1fr 24px 1fr 24px 1fr 24px 1fr 24px 1fr 24px 1fr 24px 1fr 24px 1fr;
    grid-template-columns: repeat(9,  1fr);
    grid-gap: 24px;
    width: 100%}
.grid-layout-10-column {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 24px 1fr 24px 1fr 24px 1fr 24px 1fr 24px 1fr 24px 1fr 24px 1fr 24px 1fr 24px 1fr;
    grid-template-columns: repeat(10,  1fr);
    grid-gap: 24px;
    width: 100%}
.grid-layout-11-column {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 24px 1fr 24px 1fr 24px 1fr 24px 1fr 24px 1fr 24px 1fr 24px 1fr 24px 1fr 24px 1fr 24px 1fr;
    grid-template-columns: repeat(11,  1fr);
    grid-gap: 24px;
    width: 100%}
.grid-layout-12-column {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 24px 1fr 24px 1fr 24px 1fr 24px 1fr 24px 1fr 24px 1fr 24px 1fr 24px 1fr 24px 1fr 24px 1fr 24px 1fr;
    grid-template-columns: repeat(12,  1fr);
    grid-gap: 24px;
    width: 100%}
.grid-layout-autofill {
    display: -ms-grid;
    display: grid;
    grid-template-columns: repeat(auto-fill,  minmax(200px,  1fr));
    grid-gap: 24px;
    width: 100%}
.grid-layout-halves {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 24px 1fr;
    grid-template-columns: repeat(2,  1fr);
    grid-gap: 24px;
    width: 100%}
.grid-layout-thirds {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 24px 1fr 24px 1fr;
    grid-template-columns: repeat(3,  1fr);
    grid-gap: 24px;
    width: 100%}
.grid-layout-quarter-left {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 24px 4fr;
    grid-template-columns: 1fr 4fr;
    grid-gap: 24px;
    width: 100%}
.grid-layout-quarter-right {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 4fr 24px 1fr;
    grid-template-columns: 4fr 1fr;
    grid-gap: 24px;
    width: 100%}
.wcw-card-container--border {
    padding: 12px;
    width: 100%;
    border-radius: 4px;
    border: 1px solid #dee0e8;
    background: #fff;
}
.wcw-card-container--shadow {
    padding: 12px;
    width: 100%;
    border-radius: 4px;
    border: 1px solid #dee0e8;
    box-shadow: 0 10px 18px 0 rgba(0, 0, 0, .15);
}
.wcw-card-communication--neutral {
    padding: 12px;
    width: 100%;
    border-radius: 4px;
    border: .5px solid #4640ed;
    background: #ededfa;
}
.wcw-card-communication--success {
    padding: 12px;
    width: 100%;
    border-radius: 4px;
    border: .5px solid #77d59d;
    background: #e4f6eb;
}
.wcw-card-communication--warning {
    padding: 12px;
    width: 100%;
    border-radius: 4px;
    border: .5px solid #ffaf62;
    background: #faecde;
}
.wcw-card-communication--error {
    padding: 12px;
    width: 100%;
    border-radius: 4px;
    border: .5px solid #d5403c;
    background: #fbe3e2;
}
.wcw-divider--horizontal {
    border: 1px solid #dee0e8;
    width: 100%;
    transform: scaleY(0.5);
}
.wcw-divider--vertical {
    border: 1px solid #dee0e8;
    display: inline-block;
    height: 100%;
    transform: scaleX(0.5);
}
.wcw-icon {
    display: inline-block;
}
.wcw-icon--large {
    width: 24px;
    height: 24px;
}
.wcw-icon--medium {
    width: 20px;
    height: 20px;
}
.wcw-icon--small {
    width: 16px;
    height: 16px;
}
.wcw-icon--xsmall {
    width: 12px;
    height: 12px;
}
.wcw-accordion {
    background-color: rgba(0, 0, 0, 0);
}
.wcw-accordion-list {
    border-top: 1px solid #c1c4c6;
}
.wcw-accordion-list .wcw-icon--small {
    fill: #353535;
}
.wcw-accordion-list-heading {
    color: #353535;
    font-weight: 500;
    font-size: 1rem;
    font-family: "Inter";
    line-height: 1.25;
    font-size: .875rem;
    line-height: 17px;
    letter-spacing: .1em;
    text-transform: uppercase;
    font-weight: 700;
    position: relative;
    display: flex;
    align-items: center;
    padding-top: 1rem;
    padding-bottom: 2.5625rem;
    padding-left: 10px;
}
.wcw-accordion-list--expanded .wcw-accordion-list-heading {
    padding-bottom: 1rem;
}
.wcw-accordion-list-heading-title {
    color: #353535;
    font-weight: 500;
    font-size: 1rem;
    font-family: "Inter";
    line-height: 1.25;
    font-size: .875rem;
    line-height: 17px;
    letter-spacing: .1em;
    text-transform: uppercase;
    font-weight: 700;
}
.wcw-accordion-button {
    color: #353535;
    font-weight: 500;
    font-size: 1rem;
    font-family: "Inter";
    line-height: 1.25;
    font-size: .75rem;
    line-height: 15px;
    letter-spacing: .08em;
    text-transform: uppercase;
    padding: 12px;
    position: relative;
    border: none;
    border-radius: 2px;
    background: rgba(0, 0, 0, 0);
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    position: absolute;
    top: 4px;
    right: 0;
    display: block;
    appearance: none;
}
.wcw-accordion-button .wcw-icon--xsmall {
    fill: #353535;
}
.wcw-accordion-list--expanded .wcw-accordion-button {
    display: none;
}
.wcw-accordion-button--expanded {
    color: #353535;
    font-weight: 500;
    font-size: 1rem;
    font-family: "Inter";
    line-height: 1.25;
    font-size: .75rem;
    line-height: 15px;
    letter-spacing: .08em;
    text-transform: uppercase;
    padding: 12px;
    position: relative;
    border: none;
    border-radius: 2px;
    background: rgba(0, 0, 0, 0);
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    position: absolute;
    top: 4px;
    right: 0;
    display: none;
    appearance: none;
}
.wcw-accordion-button--expanded .wcw-icon--xsmall {
    fill: #353535;
}
.wcw-accordion-list--expanded .wcw-accordion-button--expanded {
    display: block;
}
.wcw-accordion-list-item {
    display: none;
    padding: .5rem;
}
.wcw-accordion-list--expanded .wcw-accordion-list-item {
    display: block;
}
.wcw-card-badge {
    color: #353535;
    font-weight: 500;
    font-size: 1rem;
    font-family: "Inter";
    line-height: 1.25;
    font-size: .625rem;
    line-height: 12px;
    letter-spacing: 1.5px;
    text-transform: uppercase;
    font-weight: 700;
    padding: 8px;
    border-radius: 0 5px 5px 0;
    background-color: #40588e;
    color: #fff;
    text-transform: uppercase;
}
.wcw-btn {
    color: #353535;
    font-weight: 500;
    font-size: 1rem;
    font-family: "Inter";
    line-height: 1.25;
    font-size: .75rem;
    line-height: 15px;
    letter-spacing: .08em;
    text-transform: uppercase;
    padding: 12px;
    position: relative;
    border: none;
    border-radius: 2px;
    background: rgba(0, 0, 0, 0);
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}
.wcw-btn--primary {
    border: 1px solid #1d386d;
    background: #1d386d;
    color: #fff;
}
.wcw-btn--primary:hover, .wcw-btn--primary:focus {
    background: #0a2250;
}
.wcw-btn--primary:hover::after, .wcw-btn--primary:focus::after {
    border-color: #1d386d;
}
.wcw-btn--primary>svg {
    fill: #fff;
}
.wcw-btn--secondary {
    border: 1px solid #1d386d;
    color: #1d386d;
}
.wcw-btn--secondary:hover, .wcw-btn--secondary:focus {
    background-color: #1d386d;
    color: #fff;
}
.wcw-btn--secondary:hover::after, .wcw-btn--secondary:focus::after {
    border-color: #1d386d;
}
.wcw-btn--secondary:hover>svg, .wcw-btn--secondary:focus>svg {
    fill: #fff;
}
.wcw-btn--secondary>svg {
    fill: #1d386d;
}
.wcw-btn--tertiary {
    border: 1px solid #fff;
    color: #fff;
}
.wcw-btn--tertiary:hover, .wcw-btn--tertiary:focus {
    background: #fff;
    color: #1d386d;
}
.wcw-btn--tertiary:hover::after, .wcw-btn--tertiary:focus::after {
    border-color: #fff;
}
.wcw-btn--tertiary:hover>svg, .wcw-btn--tertiary:focus>svg {
    fill: #1d386d;
}
.wcw-btn--tertiary>svg {
    fill: #fff;
}
.wcw-btn--icon-text {
    display: flex;
    align-items: center;
    justify-content: center;
}
.wcw-btn--icon-text>svg {
    margin-left: 8px;
}
.wcw-btn--icon-text-reverse>svg {
    margin-right: 0;
    margin-right: 8px;
}
.wcw-button-row {
    display: flex;
    flex-direction: column;
    gap: 25px;
}
@media(min-width: 768px) {
    .wcw-button-row {
    flex-direction: row;
    flex-wrap: wrap;
    gap: 25px;
    align-items: center;
}
}.wcw-breadcrumbs {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    margin: 16px 0;
}
.wcw-breadcrumbs li {
    margin-bottom: 0;
}
.wcw-breadcrumbs li:not(:first-child)::before {
    content: "/ ";
    padding: 8px;
    color: #a6b7de;
}
.wcw-breadcrumb {
    color: #353535;
    font-weight: 400;
    font-size: 1rem;
    font-family: "Inter";
    line-height: 1.25;
    font-size: .875rem;
    line-height: 20px;
    letter-spacing: .01em;
    color: #1d386d;
    text-decoration: none;
}
.wcw-breadcrumb:hover, .wcw-breadcrumb:focus {
    color: #122345;
    text-decoration: none;
}
.wcw-breadcrumb--active {
    color: #353535;
    font-weight: 400;
}
.wcw-brand-card {
    padding: 16px;
}
.wcw-brand-card .wcw-card-tag {
    margin-top: 12px;
}
.wcw-brand-card .wcw-brand-card-image-container {
    position: relative;
    width: 100%;
    height: auto;
    margin-bottom: 15px;
}
.wcw-brand-card .wcw-brand-card-image-container .wcw-brand-card-image {
    display: inline;
    min-width: 215px;
    min-height: 215px;
}
.wcw-brand-card .wcw-brand-card-image-container .wcw-card-badge {
    position: absolute;
    top: 4%;
    left: -8%}
.wcw-brand-card .wcw-brand-card-content {
    display: flex;
    align-items: center;
}
.wcw-brand-card .wcw-brand-card-content .wcw-brand-card-name {
    color: #353535;
    font-weight: 400;
    font-size: 1rem;
    font-family: "Inter";
    line-height: 1.25;
    font-size: 1rem;
    line-height: 22px;
    letter-spacing: .01em;
    margin: 0 8px 0 0;
}
.wcw-brand-card .wcw-brand-card-tag-container {
    padding-top: 12px;
}
.wcw-product-card {
    padding: 16px;
    display: flex;
    flex-direction: row;
    border: 1px solid #c1c4c6;
    border-radius: 5px;
}
.wcw-product-card:hover {
    box-shadow: 2px 4px 8px 0 rgba(0, 0, 0, .12);
}
.wcw-product-card .wcw-product-card-name {
    color: #353535;
    font-weight: 400;
    font-size: 1rem;
    font-family: "Inter";
    line-height: 1.25;
    font-size: 1.25rem;
    font-family: "Fraunces";
    line-height: 22px;
    letter-spacing: .0025em;
    color: #1d386d;
}
.wcw-product-card .wcw-product-card-image-container {
    position: relative;
    width: auto;
    height: 100%}
.wcw-product-card .wcw-product-card-image-container .wcw-product-card-image {
    max-width: unset;
}
.wcw-product-card .wcw-product-card-image-container .wcw-card-badge {
    position: absolute;
    top: 0;
    left: -20%}
.wcw-product-card .wcw-product-card-content {
    display: flex;
    flex-direction: column;
    margin-left: 20px;
    padding: unset;
}
.wcw-product-card .wcw-product-card-content .wcw-card-tag-container .wcw-card-tag {
    display: block;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    margin-bottom: 4px;
}
.wcw-product-card .wcw-product-card-content .wcw-card-metadata {
    display: flex;
    flex-direction: column;
}
.wcw-product-card .wcw-product-card-content .wcw-card-metadata-label {
    color: #353535;
    font-weight: 500;
    font-size: 1rem;
    font-family: "Inter";
    line-height: 1.25;
    font-size: .5rem;
    line-height: 10px;
    letter-spacing: 1px;
    text-transform: uppercase;
    margin-top: 16px;
    padding: 0;
    color: #666;
}
.wcw-product-card .wcw-product-card-content .wcw-card-metadata-name {
    color: #353535;
    font-weight: 400;
    font-size: 1rem;
    font-family: "Inter";
    line-height: 1.25;
    font-size: .75rem;
    line-height: 17px;
    letter-spacing: .01em;
    margin: 0;
    color: #353535;
    text-transform: uppercase;
}
.wcw-person-card.wcw-person-card--large {
    display: flex;
    flex-direction: column;
    max-width: 345px;
    max-height: 535px;
}
.wcw-person-card.wcw-person-card--large .wcw-person-card-content a {
    color: #353535;
    font-weight: 400;
    font-size: 1rem;
    font-family: "Inter";
    line-height: 1.25;
    font-size: 1.875rem;
    font-family: "Fraunces";
    line-height: 36px;
    letter-spacing: .0025em;
}
.wcw-person-card.wcw-person-card--large .wcw-person-card-title {
    color: #353535;
    font-weight: 400;
    font-size: 1rem;
    font-family: "Inter";
    line-height: 1.25;
    font-size: 1rem;
    line-height: 22px;
    letter-spacing: .01em;
    text-align: center;
}
.wcw-person-card-image {
    -o-object-fit: cover;
    object-fit: cover;
    max-width: 100%;
    height: auto;
}
.wcw-person-card-content {
    width: 100%;
    margin-top: 14px;
}
.wcw-person-card a {
    display: block;
    margin-bottom: 5px;
    color: #1d386d;
    text-align: center;
}
.wcw-person-card a {
    display: block;
    margin-bottom: 5px;
    color: #1d386d;
    text-align: center;
}
.wcw-person-card.wcw-person-card--small {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    max-width: 256px;
    max-height: 427px;
}
.wcw-person-card.wcw-person-card--small .wcw-person-card-content a {
    color: #353535;
    font-weight: 400;
    font-size: 1rem;
    font-family: "Inter";
    line-height: 1.25;
    font-size: 1.5rem;
    font-family: "Fraunces";
    line-height: 28px;
    letter-spacing: .0025em;
}
.wcw-person-card.wcw-person-card--small .wcw-person-card-title {
    color: #353535;
    font-weight: 400;
    font-size: 1rem;
    font-family: "Inter";
    line-height: 1.25;
    font-size: .875rem;
    line-height: 20px;
    letter-spacing: .01em;
    width: 100%;
    text-align: center;
    white-space: normal;
}
.wcw-card-grid {
    padding: 16px;
    display: -ms-grid;
    display: grid;
    grid-template-columns: repeat(auto-fit,  minmax(320px,  1fr));
    grid-gap: 1rem;
}
.wcw-carousel {
    position: relative;
    display: flex;
    justify-content: center;
    max-width: 100%}
.wcw-img {
    max-width: 100%}
.wcw-btn-next {
    position: absolute;
    top: 35%;
    right: 2%;
    width: 35px;
    height: 35px;
    border: none;
    border-radius: 50%;
    background-color: #fff;
    opacity: 80%;
    cursor: pointer;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}
@media(min-width: 768px) {
    .wcw-btn-next {
    top: 50%}
}.wcw-btn-next:hover, .wcw-btn-next:focus {
    background: #ededed;
}
.wcw-btn-next:hover::after, .wcw-btn-next:focus::after {
    border-color: #1d386d;
}
.wcw-btn-next>svg {
    max-width: none;
    fill: #1d386d;
}
.wcw-btn-prev {
    position: absolute;
    top: 35%;
    left: 2%;
    width: 35px;
    height: 35px;
    border: none;
    border-radius: 50%;
    background-color: #fff;
    opacity: 80%;
    cursor: pointer;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}
@media(min-width: 768px) {
    .wcw-btn-prev {
    top: 50%}
}.wcw-btn-prev:hover, .wcw-btn-prev:focus {
    background: #ededed;
}
.wcw-btn-prev:hover::after, .wcw-btn-prev:focus::after {
    border-color: #1d386d;
}
.wcw-btn-prev>svg {
    fill: #1d386d;
}
.wcw-form-input-checkbox+.wcw-form-label {
    color: #353535;
    font-weight: 400;
    font-size: 1rem;
    font-family: "Inter";
    line-height: 1.25;
    font-size: .875rem;
    line-height: 20px;
    letter-spacing: .01em;
    margin-right: 32px;
    padding-left: 24px;
    line-height: 1.15;
}
.wcw-form-input-checkbox+.wcw-form-label::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 14px;
    height: 14px;
    border: 1px solid #c1c4c6;
    border-radius: 2px;
    background: none;
    box-shadow: inset 0 1px 3px 0 rgba(0, 0, 0, .2);
}
.wcw-form-input-checkbox:checked+.wcw-form-label::before, .wcw-form-input-checkbox:indeterminate+.wcw-form-label::before {
    background-color: #0a2250;
    background-image: url("data:image/svg+xml, %3Csvg xmlns='http://www.w3.org/2000/svg' width='10' height='7'%3E%3Cpath fill='none' fill-rule='evenodd' stroke='%23FFF' stroke-linecap='round' stroke-linejoin='round' stroke-width='1.5' d='M1 3.35l2.82 2.83L9 1'/%3E%3C/svg%3E");
    background-position: center center;
    background-repeat: no-repeat;
}
.wcw-form-input-checkbox:indeterminate+.wcw-form-label::before {
    background-image: url("data:image/svg+xml, %3Csvg xmlns='http://www.w3.org/2000/svg' width='10' height='3'%3E%3Cpath fill='none' fill-rule='evenodd' stroke='%23FFF' stroke-linecap='round' stroke-linejoin='round' stroke-width='1.5' d='M1 1L8.5 1'/%3E%3C/svg%3E");
}
.wcw-form-input-checkbox:focus+.wcw-form-label::after {
    content: "";
    position: absolute;
    top: -2px;
    left: -2px;
    width: 18px;
    height: 18px;
    border: 1px solid #c1c4c6;
    border-radius: 2px;
}
.wcw-form-input-checkbox[disabled]+.wcw-form-label, .wcw-form-input-checkbox:disabled+.wcw-form-label {
    opacity: .4;
}
.wcw-form-field--error .wcw-form-input-checkbox+.wcw-form-label::before {
    border-color: #d5403c;
}
.wcw-content-cta {
    padding: 18px;
    position: relative;
    width: 100%;
    height: auto;
}
.wcw-content-cta--default {
    background-color: #f7f7f7;
}
.wcw-content-cta--image {
    background-image: url(https://placeimg.com/1000/480/nature/grayscale);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
.wcw-content-cta-container {
    padding: 10px;
}
@media(min-width: 1024px) {
    .wcw-content-cta-container {
    padding: 65px 260px;
}
}.wcw-content-cta-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.wcw-content-cta-content .wcw-input-submit-wrapper {
    width: 336px;
}
@media(min-width: 768px) {
    .wcw-content-cta-content .wcw-input-submit-wrapper {
    width: 375px;
}
}.wcw-content-cta-heading {
    color: #353535;
    font-weight: 400;
    font-size: 1rem;
    font-family: "Inter";
    line-height: 1.25;
    font-size: 2.25rem;
    font-family: "Fraunces";
    line-height: 42px;
    letter-spacing: .0025em;
    margin-bottom: 12px;
    color: #353535;
    text-align: center;
}
.wcw-content-cta-description {
    color: #353535;
    font-weight: 400;
    font-size: 1rem;
    font-family: "Inter";
    line-height: 1.25;
    font-size: 1rem;
    line-height: 22px;
    letter-spacing: .01em;
    padding-bottom: 32px;
    color: #353535;
    text-align: center;
}
.wcw-content-section {
    padding: 18px;
    position: relative;
    width: 100%;
    height: auto;
}
.wcw-content-section--default {
    background-color: #1d386d;
}
.wcw-content-section--default .wcw-content-section-container {
    border: 1px solid #a6b7de;
}
.wcw-content-section--image {
    background-image: url(https://placeimg.com/1000/480/nature/grayscale);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
.wcw-content-section-container {
    padding: 15px;
}
@media(min-width: 768px) {
    .wcw-content-section-container {
    padding: 65px 260px;
}
}.wcw-content-section-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #353535;
    font-weight: 400;
    font-size: 1rem;
    font-family: "Inter";
    line-height: 1.25;
    font-size: 1rem;
    line-height: 22px;
    letter-spacing: .01em;
    color: #f0f6fe;
}
.wcw-content-section-content .wcw-btn--tertiary {
    width: 279px;
}
@media(min-width: 768px) {
    .wcw-content-section-content .wcw-btn--tertiary {
    width: 200px;
}
}.wcw-content-section-heading {
    color: #353535;
    font-weight: 400;
    font-size: 1rem;
    font-family: "Inter";
    line-height: 1.25;
    font-size: 2.25rem;
    font-family: "Fraunces";
    line-height: 42px;
    letter-spacing: .0025em;
    margin-bottom: 12px;
    color: #fff;
    text-align: center;
}
.wcw-content-section-description {
    padding-bottom: 32px;
    text-align: center;
}
.wcw-country-badge {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 50%}
.wcw-country-badge>img {
    width: 90px;
    height: 88px;
    border: 1px solid #dedfdf;
    border-radius: 50%}
.wcw-country-badge .wcw-country-badge-name {
    color: #353535;
    font-weight: 500;
    font-size: 1rem;
    font-family: "Inter";
    line-height: 1.25;
    font-size: .75rem;
    line-height: 15px;
    letter-spacing: .08em;
    text-transform: uppercase;
    font-weight: 700;
    padding-top: 20px;
    color: #1d386d;
}
.wcw-dropdown {
    position: relative;
    display: flex;
    flex-direction: column;
}
.wcw-dropdown-label {
    color: #353535;
    font-weight: 500;
    font-size: 1rem;
    font-family: "Inter";
    line-height: 1.25;
    font-size: .75rem;
    line-height: 15px;
    letter-spacing: .08em;
    text-transform: uppercase;
    font-weight: 700;
    padding-bottom: 5px;
}
.wcw-dropdown-menu {
    position: absolute;
    top: 40px;
    right: auto;
    left: 0;
    z-index: 2;
    display: none;
    width: 100%}
.wcw-dropdown--expanded .wcw-dropdown-menu {
    display: block;
}
.wcw-dropdown-menu-list {
    margin: 0;
    padding: 0;
    list-style: none;
    border: 1px solid #c1c4c6;
    background-color: #fff;
}
.wcw-dropdown-menu-list li {
    margin-bottom: 0;
}
.wcw-dropdown-menu-list-item {
    border: 1px solid #c1c4c6;
    background-color: #fff;
}
.wcw-dropdown-menu-list a {
    padding: 10px;
    color: #353535;
    font-weight: 400;
    font-size: 1rem;
    font-family: "Inter";
    line-height: 1.25;
    font-size: .875rem;
    line-height: 20px;
    letter-spacing: .01em;
    display: block;
}
.wcw-dropdown-menu-list a:hover, .wcw-dropdown-menu-list a:focus {
    background-color: #f0f6fe;
    text-decoration: none;
}
.wcw-dropdown-trigger {
    position: relative;
    padding: 10px;
    border: 1px solid #c1c4c6;
    border-radius: 2px;
    text-align: left;
}
.wcw-dropdown-trigger:hover, .wcw-dropdown-trigger:focus {
    border: 1px solid #40588e;
}
.wcw-dropdown-trigger .wcw-icon--medium {
    position: absolute;
    right: 10px;
    fill: #1d386d;
}
.wcw-dropdown-trigger-label {
    color: #353535;
    font-weight: 400;
    font-size: 1rem;
    font-family: "Inter";
    line-height: 1.25;
    font-size: .875rem;
    line-height: 20px;
    letter-spacing: .01em;
    color: #96999a;
    font-style: italic;
}
.wcw-filter-form-wrapper {
    position: relative;
    max-width: 550px;
    padding: 10px;
}
.wcw-filter-form-wrapper .wcw-slider-wrapper {
    width: 100%;
    padding: 10px;
}
.wcw-filter-form-wrapper .wcw-slider-wrapper .wcw-slider-container {
    height: 40px;
}
.wcw-filter-form-wrapper .wcw-slider-wrapper #range2 {
    right: 0;
}
.wcw-filter-form-wrapper .wcw-slider-wrapper #range1 {
    left: 0;
}
.wcw-filter-dropdown-section .wcw-dropdown {
    padding-bottom: 20px;
}
.wcw-filter-dropdown-section .wcw-dropdown-menu {
    top: 60px;
}
.wcw-filter-slider-section {
    padding-bottom: 20px;
}
.wcw-filter-checkbox-section {
    padding-bottom: 20px;
}
.wcw-filter-mobile-modal {
    position: relative;
    display: flex;
    flex-direction: column;
    height: 100vh;
}
.wcw-filter-mobile-modal .wcw-filter-form {
    overflow-y: auto;
    max-height: 75%;
    padding: 5px;
}
.wcw-filter-mobile-modal .wcw-filter-form .wcw-slider-wrapper {
    width: 100%;
    padding: 10px;
}
.wcw-filter-mobile-modal .wcw-filter-form .wcw-slider-wrapper .wcw-slider-container {
    height: 40px;
}
.wcw-filter-mobile-modal .wcw-filter-form .wcw-slider-wrapper #range2 {
    right: 0;
}
.wcw-filter-mobile-modal .wcw-filter-form .wcw-slider-wrapper #range1 {
    left: 0;
}
.wcw-filter-modal-header {
    position: relative;
    display: flex;
    flex-direction: column;
    padding: 1rem 1rem 1rem 0;
}
.wcw-filter-modal-title {
    color: #353535;
    font-weight: 400;
    font-size: 1rem;
    font-family: "Inter";
    line-height: 1.25;
    font-size: 1rem;
    line-height: 22px;
    letter-spacing: .01em;
    font-weight: 700;
    padding-top: 5px;
}
.wcw-filter-modal-close {
    position: absolute;
    top: 0;
    right: 0;
    display: block;
    padding: 0;
}
.wcw-filter-modal-footer {
    display: flex;
    flex-direction: column;
    gap: 11px;
    width: 100%;
    padding: 20px;
    border: 1px solid #c1c4c6;
    background-color: #fff;
    box-shadow: 0 -4px 4px rgba(0, 0, 0, .1);
}
.wcw-footer {
    display: flex;
    flex-direction: column;
    max-width: 100%;
    padding: 40px 35px 45px;
    background-color: #0a2250;
    color: #fff;
}
@media(min-width: 768px) {
    .wcw-footer {
    flex-flow: row nowrap;
}
}.wcw-footer-logo-container {
    padding-right: 20px;
}
@media(min-width: 1024px) {
    .wcw-footer-logo-container {
    padding-right: 117px;
}
}.wcw-footer-logo-container img {
    width: 100%}
.wcw-footer-menu-container {
    margin-top: 10px;
}
@media(min-width: 768px) {
    .wcw-footer-menu-container {
    flex-grow: 2;
    margin-top: 0;
}
}.wcw-footer-list {
    margin: 0;
    padding: 0;
    list-style: none;
    -moz-column-count: 2;
    column-count: 2;
}
.wcw-footer-list li {
    margin-bottom: 0;
}
@media(min-width: 768px) {
    .wcw-footer-list {
    gap: 20px;
    -moz-column-count: 3;
    column-count: 3;
}
}.wcw-footer-list-item {
    color: #353535;
    font-weight: 400;
    font-size: 1rem;
    font-family: "Inter";
    line-height: 1.25;
    font-size: .75rem;
    line-height: 17px;
    letter-spacing: .01em;
    padding-bottom: 5%;
    color: #fff;
}
.wcw-footer-list-item .wcw-link {
    color: #353535;
    font-weight: 400;
    font-size: 1rem;
    font-family: "Inter";
    line-height: 1.25;
    font-size: .75rem;
    line-height: 17px;
    letter-spacing: .01em;
    color: #fff;
    text-decoration: none;
}
.wcw-footer-social-container {
    display: flex;
    flex-direction: column;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    margin-top: 10px;
}
@media(min-width: 768px) {
    .wcw-footer-social-container {
    margin-top: 0;
}
.wcw-footer-social-container .wcw-footer-list-item {
    text-align: center;
}
}.wcw-footer-social-container .wcw-footer-social-list {
    margin: 0;
    padding: 0;
    list-style: none;
}
.wcw-footer-social-container .wcw-footer-social-list li {
    margin-bottom: 0;
}
.wcw-footer-social-container .wcw-footer-social-list-item {
    padding: 10px;
}
.wcw-footer-social-container .wcw-social-icon-bar {
    margin: 0;
    padding: 0;
    list-style: none;
    fill: #fff;
}
.wcw-footer-social-container .wcw-social-icon-bar li {
    margin-bottom: 0;
}
.wcw-footer-social-container .wcw-social-icon-bar-item {
    display: inline;
    margin: 15px;
}
.wcw-footer-social-container .wcw-social-icon-bar-item .wcw-icon {
    width: 18px;
    height: 18px;
}
.wcw-footer-social-container .wcw-social-icon-bar-item .wcw-btn {
    width: 100%;
    height: auto;
}
.wcw-header {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: auto;
    padding: 10px;
    background-color: #1d386d;
}
@media(min-width: 768px) {
    .wcw-header {
    padding: 90px 0 95px;
}
}.wcw-header-content {
    display: flex;
    flex-direction: column;
}
@media(min-width: 768px) {
    .wcw-header-content {
    max-width: 620px;
}
}.wcw-header-headline {
    color: #353535;
    font-weight: 400;
    font-size: 1rem;
    font-family: "Inter";
    line-height: 1.25;
    font-size: 2.25rem;
    font-family: "Fraunces";
    line-height: 42px;
    letter-spacing: .0025em;
    margin-bottom: 12px;
    color: #fff;
    text-align: center;
}
@media(min-width: 768px) {
    .wcw-header-headline {
    color: #353535;
    font-weight: 400;
    font-size: 1rem;
    font-family: "Inter";
    line-height: 1.25;
    font-size: 3rem;
    font-family: "Fraunces";
    line-height: 54px;
    letter-spacing: .0025em;
    color: #fff;
}
}.wcw-header-description {
    color: #353535;
    font-weight: 400;
    font-size: 1rem;
    font-family: "Inter";
    line-height: 1.25;
    font-size: 1rem;
    line-height: 22px;
    letter-spacing: .01em;
    color: #fff;
    text-align: center;
}
.wcw-header-cta {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    flex-direction: column;
    padding-top: 16px;
}
.wcw-header-cta li {
    margin-bottom: 0;
}
@media(min-width: 768px) {
    .wcw-header-cta {
    flex-direction: row;
    margin-top: 45px;
}
}.wcw-header-cta-item {
    padding-bottom: 16px;
}
@media(min-width: 768px) {
    .wcw-header-cta-item {
    margin: 0 20px;
}
}.wcw-input-submit-wrapper {
    display: flex;
    flex-direction: row;
}
.wcw-input-submit-wrapper input[type=submit] {
    color: #353535;
    font-weight: 500;
    font-size: 1rem;
    font-family: "Inter";
    line-height: 1.25;
    font-size: .75rem;
    line-height: 15px;
    letter-spacing: .08em;
    text-transform: uppercase;
    padding: 12px;
    border: none;
    border-radius: 2px;
    background-color: #1d386d;
    color: #fff;
}
.wcw-link {
    color: #353535;
    font-weight: 400;
    font-size: 1rem;
    font-family: "Inter";
    line-height: 1.25;
    font-size: 1rem;
    line-height: 22px;
    letter-spacing: .01em;
    display: flex;
    align-items: center;
    color: #40588e;
    text-decoration: none;
}
.wcw-link:hover {
    -webkit-text-decoration: underline solid 2px;
    text-decoration: underline solid 2px;
    text-underline-offset: 2px;
}
.wcw-link .wcw-icon {
    margin-left: 8px;
    fill: #40588e;
}
.link-block {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
}
@media(min-width: 768px) {
    .link-block {
    -ms-grid-columns: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
}
}@media(min-width: 1024px) {
    .link-block {
    -ms-grid-columns: 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr;
}
}.link-block-card {
    margin: 12px;
}
.link-block .card-2 {
    display: none;
}
@media(min-width: 768px) {
    .link-block .card-2 {
    display: initial;
}
}@media(min-width: 1024px) {
    .link-block .card-2 {
    display: initial;
}
}.link-block .card-3 {
    display: none;
}
@media(min-width: 768px) {
    .link-block .card-3 {
    display: none;
}
}@media(min-width: 1024px) {
    .link-block .card-3 {
    display: initial;
}
}.link-block-content-container:nth-child(2) {
    padding: 20px 20px 20px 0;
}
.link-block-name {
    color: #353535;
    font-weight: 400;
    font-size: 1rem;
    font-family: "Inter";
    line-height: 1.25;
    font-size: 1.5rem;
    font-family: "Fraunces";
    line-height: 28px;
    letter-spacing: .0025em;
    color: #1d386d;
}
.link-block-content {
    color: #353535;
    font-weight: 400;
    font-size: 1rem;
    font-family: "Inter";
    line-height: 1.25;
    font-size: 1rem;
    line-height: 22px;
    letter-spacing: .01em;
    color: #353535;
}
.wcw-mini-nav {
    display: flex;
    justify-content: right;
    padding-top: 16px;
    padding-right: 52px;
    padding-bottom: 16px;
    background-color: #1d386d;
}
.wcw-mini-nav .wcw-form-field:last-of-type {
    margin: unset;
}
.wcw-mini-nav-list-wrapper {
    display: flex;
}
.wcw-mini-nav-list {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    align-items: center;
}
.wcw-mini-nav-list li {
    margin-bottom: 0;
}
.wcw-mini-nav .wcw-mini-nav-link {
    color: #353535;
    font-weight: 500;
    font-size: 1rem;
    font-family: "Inter";
    line-height: 1.25;
    font-size: .625rem;
    line-height: 12px;
    letter-spacing: 1.5px;
    text-transform: uppercase;
    display: block;
    padding: 16px 38px 13px 0;
    color: #a6b7de;
    text-decoration: none;
}
.wcw-mini-nav .wcw-mini-nav-link:hover {
    text-decoration: underline;
}
.wcw-mini-nav .wcw-form-field {
    background-color: rgba(0, 0, 0, 0);
}
.wcw-mini-nav .wcw-form-input {
    color: #353535;
    font-weight: 400;
    font-size: 1rem;
    font-family: "Inter";
    line-height: 1.25;
    font-size: .875rem;
    line-height: 20px;
    letter-spacing: .01em;
    width: 200px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 16px;
    border: 0 solid #1d386d;
    background-color: rgba(0, 0, 0, 0);
    color: #a6b7de;
    box-shadow: none;
}
.wcw-mini-nav .wcw-form-input::-moz-placeholder {
    padding-left: 7px;
    color: #a6b7de;
}
.wcw-mini-nav .wcw-form-input:-ms-input-placeholder {
    padding-left: 7px;
    color: #a6b7de;
}
.wcw-mini-nav .wcw-form-input::placeholder {
    padding-left: 7px;
    color: #a6b7de;
}
.wcw-mini-nav .wcw-form-icon--search {
    position: absolute;
    top: 12px;
    left: 0;
    fill: #a6b7de;
}
.wcw-mobile-nav-wrapper {
    padding-top: 20px;
    padding-right: 20px;
    padding-bottom: 20px;
    padding-left: 16px;
    background-color: #1d386d;
}
.wcw-mobile-nav-wrapper .wcw-btn--secondary {
    width: 100%;
    background-color: #fff;
}
.wcw-mobile-nav-wrapper .wcw-dropdown-trigger {
    padding: 0;
    border: unset;
}
.wcw-mobile-nav-wrapper .wcw-dropdown-trigger-label {
    color: #353535;
    font-weight: 400;
    font-size: 1rem;
    font-family: "Inter";
    line-height: 1.25;
    font-size: .875rem;
    line-height: 20px;
    letter-spacing: .01em;
    color: #fff;
}
.wcw-mobile-nav-logo-wrapper {
    position: relative;
    display: flex;
}
.wcw-mobile-nav-logo-wrapper .wcw-icon-logo {
    width: 208px;
    height: 48px;
}
.wcw-mobile-nav-logo-wrapper .wcw-btn {
    position: absolute;
    right: 0;
    background-color: rgba(0, 0, 0, 0);
}
.wcw-mobile-nav-logo-wrapper .wcw-icon--small {
    width: 25px;
}
.wcw-mobile-main-nav {
    display: none;
    flex-direction: column;
}
.wcw-mobile-nav-wrapper--expanded .wcw-mobile-main-nav {
    display: block;
}
.wcw-mobile-nav-menu {
    justify-content: left;
}
.wcw-mobile-nav-list {
    margin: 0;
    padding: 0;
    list-style: none;
    padding-top: 48px;
}
.wcw-mobile-nav-list li {
    margin-bottom: 0;
}
.wcw-mobile-nav-list a {
    color: #1d386d;
}
.wcw-mobile-nav-list a:hover, .wcw-mobile-nav-list a:focus {
    background-color: #0a2250;
    text-decoration: none;
}
.wcw-mobile-nav-list-item {
    padding-bottom: 34px;
    background-color: #1d386d;
    color: #fff;
}
.wcw-mobile-nav-list-item .wcw-icon--small {
    fill: #a6b7de;
}
.wcw-mobile-nav-list-item .wcw-link {
    color: #353535;
    font-weight: 500;
    font-size: 1rem;
    font-family: "Inter";
    line-height: 1.25;
    font-size: .875rem;
    line-height: 17px;
    letter-spacing: .1em;
    text-transform: uppercase;
    font-weight: 700;
    color: #fff;
    text-decoration: none;
}
.wcw-mobile-nav-list-item .wcw-dropdown-menu {
    position: inherit;
    top: unset;
    padding-top: .5rem;
}
.wcw-mobile-nav-list-item .wcw-dropdown-menu-list {
    border: unset;
}
.wcw-mobile-nav-list-item .wcw-dropdown-menu-list-item {
    border: unset;
    background-color: #1d386d;
}
.wcw-mobile-nav-list-item .wcw-dropdown-menu-list-item a {
    color: #353535;
    font-weight: 400;
    font-size: 1rem;
    font-family: "Inter";
    line-height: 1.25;
    font-size: 1rem;
    line-height: 22px;
    letter-spacing: .01em;
    color: #fff;
    text-transform: none;
}
.wcw-mobile-nav-list-item .wcw-dropdown-trigger-label {
    color: #353535;
    font-weight: 500;
    font-size: 1rem;
    font-family: "Inter";
    line-height: 1.25;
    font-size: .875rem;
    line-height: 17px;
    letter-spacing: .1em;
    text-transform: uppercase;
    font-weight: 700;
    color: #fff;
    font-style: normal;
}
.wcw-mobile-nav-sublist {
    margin: 0;
    padding: 0;
    list-style: none;
}
.wcw-mobile-nav-sublist li {
    margin-bottom: 0;
}
.wcw-mobile-nav-sublist .wcw-link {
    color: #353535;
    font-weight: 400;
    font-size: 1rem;
    font-family: "Inter";
    line-height: 1.25;
    font-size: 1rem;
    line-height: 22px;
    letter-spacing: .01em;
    padding-left: 10px;
    background-color: #1d386d;
    color: #fff;
    text-transform: none;
}
.wcw-mobile-nav-sublist-item {
    padding-left: 10px;
}
.wcw-modal {
    position: fixed;
    top: 10%;
    left: 50%;
    z-index: 30;
    min-width: 85%;
    max-width: 640px;
    max-height: 90vh;
    transform: translateX(-50%);
}
@media(min-width: 768px) {
    .wcw-modal {
    top: 50%;
    width: 72vw;
    min-width: 0;
    max-width: 650px;
    transform: translate(-50%,  -50%);
}
}.wcw-modal[hidden] {
    display: none;
}
.wcw-modal--inline {
    position: absolute;
}
@media(min-width: 1024px) {
    .wcw-modal-card {
    padding: 24px;
}
}.wcw-modal-card-header {
    display: flex;
    justify-content: flex-end;
}
.wcw-modal-card-body {
    padding: 0 16px 16px;
}
@media(min-width: 768px) {
    .wcw-modal-card-body {
    padding: 0 40px 16px;
}
}.wcw-modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 20;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, .75);
}
.wcw-modal-overlay[hidden] {
    display: none;
}
nav {
    display: flex;
    justify-content: center;
}
.wcw-pagination-list {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    align-content: center;
}
.wcw-pagination-list li {
    margin-bottom: 0;
}
.wcw-pagination-list-item {
    margin: 0 8px;
}
.wcw-pagination-link {
    color: #353535;
    font-weight: 400;
    font-size: 1rem;
    font-family: "Inter";
    line-height: 1.25;
    font-size: 1rem;
    line-height: 22px;
    letter-spacing: .01em;
    color: #1d386d;
    text-decoration: none;
}
.wcw-pagination-link:hover {
    background-color: #f0f6fe;
}
.wcw-pagination-link[aria-current] {
    padding: 7px;
    border-radius: 5px;
    background-color: #f7f7f7;
}
.wcw-pagination-icon--active {
    fill: #353535;
}
.wcw-pagination-icon--disabled {
    fill: #c1c4c6;
}
.wcw-primary-nav-wrapper {
    padding: 20px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
    color: #1d386d;
}
.wcw-primary-nav-wrapper .wcw-dropdown-trigger {
    padding: 0;
    border: unset;
}
.wcw-primary-nav-wrapper .wcw-dropdown-trigger-label {
    color: #353535;
    font-weight: 500;
    font-size: 1rem;
    font-family: "Inter";
    line-height: 1.25;
    font-size: .75rem;
    line-height: 15px;
    letter-spacing: .08em;
    text-transform: uppercase;
    color: #1d386d;
    font-style: normal;
}
.wcw-primary-nav-wrapper .wcw-dropdown-menu {
    top: 40px;
}
.wcw-primary-nav-wrapper .wcw-dropdown-menu-list-item {
    padding-right: 10px;
    border: unset;
    color: #1d386d;
}
.wcw-primary-nav-wrapper .wcw-dropdown-menu-list-item a {
    border-bottom: 1px solid #ededed;
    color: #1d386d;
}
.wcw-logo-wrapper {
    gap: clamp(.5rem, 5%, 5.5rem);
}
.wcw-nav-logo>img {
    width: 240px;
    min-width: 204px;
}
.wcw-primary-nav-list {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    flex-direction: row;
    gap: clamp(.5rem, 1%, 5em);
    align-items: center;
    justify-content: space-around;
    width: 100%}
.wcw-primary-nav-list li {
    margin-bottom: 0;
}
.wcw-primary-nav-list-item {
    padding: 10px;
}
.wcw-primary-nav-list-item>a {
    color: #353535;
    font-weight: 500;
    font-size: 1rem;
    font-family: "Inter";
    line-height: 1.25;
    font-size: .75rem;
    line-height: 15px;
    letter-spacing: .08em;
    text-transform: uppercase;
    color: #1d386d;
    text-decoration: none;
}
.wcw-primary-nav-list-item .wcw-btn--primary {
    width: auto;
    min-width: 125px;
}
.wcw-primary-nav-sublist {
    margin: 0;
    padding: 0;
    list-style: none;
}
.wcw-primary-nav-sublist li {
    margin-bottom: 0;
}
.wcw-primary-nav-sublist a {
    display: block;
    padding-left: 20px;
    text-decoration: none;
}
.wcw-form-input-radio+.wcw-form-label {
    margin-right: 32px;
    padding-left: 24px;
    line-height: 1.45;
}
.wcw-form-input-radio+.wcw-form-label::before {
    content: "";
    position: absolute;
    top: 2px;
    left: 0;
    width: 16px;
    height: 16px;
    border: 1px solid #c1c4c6;
    border-radius: 50%;
    box-shadow: inset 0 1px 3px 0 rgba(0, 0, 0, .2);
}
.wcw-form-input-radio+.wcw-form-label::after {
    content: "";
    position: absolute;
    top: 6px;
    left: 4px;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: #4640ed;
    opacity: 0;
}
.wcw-form-input-radio:checked+.wcw-form-label::after {
    opacity: 1;
}
.wcw-form-input-radio:focus+.wcw-form-label::before {
    top: 0;
    border-width: 2px;
}
.wcw-form-input-radio:focus+.wcw-form-label::after {
    top: 5px;
    left: 5px;
}
.wcw-form-input-radio[disabled]+.wcw-form-label, .wcw-form-input-radio:disabled+.wcw-form-label {
    opacity: .4;
}
.wcw-form-field--error .wcw-form-input-radio+.wcw-form-label::before {
    border-color: #d5403c;
}
.wcw-slider-wrapper {
    position: relative;
    width: 95vmin;
    padding: 50px 40px 20px;
    border-radius: 10px;
    background-color: #fff;
}
.wcw-slider-container {
    position: relative;
    width: 100%;
    height: 100px;
}
input[type=range] {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;
    margin: auto;
    background-color: rgba(0, 0, 0, 0);
    outline: none;
    pointer-events: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}
.wcw-slider-track {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;
    height: 5px;
    margin: auto;
    border-radius: 5px;
}
input[type=range]::-webkit-slider-runnable-track {
    height: 5px;
    -webkit-appearance: none;
}
input[type=range]::-moz-range-track {
    height: 5px;
    -moz-appearance: none;
}
input[type=range]::-ms-track {
    height: 5px;
    appearance: none;
}
input[type=range]::-webkit-slider-thumb {
    width: 1.7em;
    height: 1.7em;
    margin-top: -9px;
    border: 4px solid #1d386d;
    border-radius: 50%;
    background-color: #fff;
    cursor: pointer;
    pointer-events: auto;
    -webkit-appearance: none;
}
input[type=range]::-moz-range-thumb {
    width: 1.7em;
    height: 1.7em;
    border: 4px solid #1d386d;
    border-radius: 50%;
    background-color: #fff;
    cursor: pointer;
    pointer-events: auto;
    -webkit-appearance: none;
}
input[type=range]::-ms-thumb {
    width: 1.7em;
    height: 1.7em;
    border: 4px solid #1d386d;
    border-radius: 50%;
    background-color: #fff;
    cursor: pointer;
    pointer-events: auto;
    appearance: none;
}
input[type=range]:active::-webkit-slider-thumb {
    border: 4px solid #1d386d;
    background-color: #fff;
}
#range1 {
    position: absolute;
    padding: 0;
    border-radius: 5px;
    color: #000;
    font-weight: 500;
    font-size: 14px;
}
#range2 {
    position: absolute;
    right: 40px;
    padding: 0;
    border-radius: 5px;
    color: #000;
    font-weight: 500;
    font-size: 14px;
    text-align: center;
}
.wcw-visually-hidden {
    position: absolute;
    -webkit-clip-path: inset(50%);
    clip-path: inset(50%);
}
.wcw-region-sidebar-wrapper {
    max-width: 325px;
    padding-top: 15px;
    padding-right: 15px;
    padding-bottom: 40px;
    border: 1px solid #dedfdf;
}
.wcw-region-sidebar-badges {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    row-gap: 27px;
    justify-content: center;
    -moz-column-gap: 35px;
    column-gap: 35px;
}
.wcw-region-sidebar-text {
    color: #353535;
    font-weight: 500;
    font-size: 1rem;
    font-family: "Inter";
    line-height: 1.25;
    font-size: .75rem;
    line-height: 15px;
    letter-spacing: .08em;
    text-transform: uppercase;
    font-weight: 700;
    padding-bottom: 27px;
    padding-left: 15px;
}
.wcw-shop-modal-card {
    position: relative;
    padding: 58px 20px 51px;
    background-color: #fff;
}
.wcw-shop-modal-card .wcw-btn-close {
    position: absolute;
    top: 0;
    right: 0;
}
.wcw-shop-modal-buttons {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
.wcw-shop-modal-card--expanded {
    position: relative;
    padding: 58px 16px 32px;
    background-color: #fff;
}
.wcw-shop-modal-card--expanded .wcw-btn-close {
    position: absolute;
    top: 0;
    right: 0;
}
.wcw-shop-modal-card--expanded .wcw-dropdown {
    padding-bottom: 32px;
}
.wcw-shop-modal-text {
    color: #353535;
    font-weight: 400;
    font-size: 1rem;
    font-family: "Inter";
    line-height: 1.25;
    font-size: .875rem;
    line-height: 20px;
    letter-spacing: .01em;
    font-weight: 700;
}
.wcw-card-tag {
    padding: 8px;
    color: #353535;
    font-weight: 500;
    font-size: 1rem;
    font-family: "Inter";
    line-height: 1.25;
    font-size: .5rem;
    line-height: 10px;
    letter-spacing: 1px;
    text-transform: uppercase;
    border-radius: 5px;
    background-color: #f0f6fe;
    color: #40588e;
    letter-spacing: 1.5px;
    text-transform: uppercase;
}
.wcw-form-field {
    position: relative;
    margin-bottom: 16px;
}
.wcw-form-field:last-of-type {
    margin-bottom: 0;
}
.wcw-form-input {
    color: #353535;
    font-weight: 400;
    font-size: 1rem;
    font-family: "Inter";
    line-height: 1.25;
    font-size: .875rem;
    line-height: 20px;
    letter-spacing: .01em;
    padding: 10px;
    width: 100%;
    border: 1px solid #c1c4c6;
    border-radius: 2px;
    background-color: #fff;
    background-image: none;
    color: #353535;
}
.wcw-form-input::-moz-placeholder {
    color: #353535;
    font-weight: 400;
    font-size: 1rem;
    font-family: "Inter";
    line-height: 1.25;
    font-size: .875rem;
    line-height: 20px;
    letter-spacing: .01em;
    color: #96999a;
    font-style: italic;
}
.wcw-form-input:-ms-input-placeholder {
    color: #353535;
    font-weight: 400;
    font-size: 1rem;
    font-family: "Inter";
    line-height: 1.25;
    font-size: .875rem;
    line-height: 20px;
    letter-spacing: .01em;
    color: #96999a;
    font-style: italic;
}
.wcw-form-input::placeholder {
    color: #353535;
    font-weight: 400;
    font-size: 1rem;
    font-family: "Inter";
    line-height: 1.25;
    font-size: .875rem;
    line-height: 20px;
    letter-spacing: .01em;
    color: #96999a;
    font-style: italic;
}
.wcw-form-input-wrapper {
    position: relative;
}
.wcw-form-input:focus {
    box-shadow: 0 0 0 3px -moz-mac-focusring;
}
.wcw-form-input:disabled {
    opacity: .4;
    pointer-events: none;
}
.wcw-form-field--error .wcw-form-input {
    padding-left: 30px;
    border-color: #d5403c;
}
.wcw-form-icon--search {
    position: absolute;
    top: 10px;
    right: 10px;
    width: 16px;
    height: 16px;
}
.wcw-form-state-icon {
    position: absolute;
    top: 10px;
    left: 8px;
    width: 16px;
    height: 16px;
    padding: 3px;
    border-radius: 50%}
.wcw-form-state-icon--error {
    background-color: #d5403c;
    fill: #fff;
}
.wcw-form-input--textarea {
    padding: 8px;
    min-height: 64px;
    resize: none;
}
.wcw-form-label {
    color: #353535;
    font-weight: 400;
    font-size: 1rem;
    font-family: "Inter";
    line-height: 1.25;
    font-size: .75rem;
    line-height: 17px;
    letter-spacing: .01em;
    font-weight: 700;
    position: relative;
    display: block;
    margin-bottom: 8px;
    color: #353535;
}
.wcw-form-input-message {
    color: #d5403c;
    font-weight: 400;
    font-size: 1rem;
    font-family: "Inter";
    line-height: 1.25;
    font-size: .75rem;
    margin-top: 4px;
}
